h1 Архитектура приложения
div.view-stub
    div.view-stub__input-block
        input.view-stub__input
        button.view-stub__apply Отправить на сервер
    div.view-stub__label
        p Здесь появится ответ сервера
        div(class="preloader hidden")
div.view-stub__log Сюда можно выносить лог