extends ../../layout

block content
	h1 Архитектура приложения
	div.view-stub
		div.view-stub__input-block
			input.view-stub__input
			button.view-stub__apply Отправить на сервер
		p.view-stub__label Здесь появится ответ сервера
	div.log Сюда можно выносить лог
