doctype html
html
	head
		title Архитектура.ШРИ - 2018
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel='stylesheet', href='/styles/index.css')
	body
		block content
		script(src="/scripts/index/main.js")
